/* СБРОС СТИЛЕЙ */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ШРИФТЫ */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&family=Russo+One&display=swap');

/*СТИЛИ*/
body {
  background:  url(../images/background.svg) -55px 0/180%, #0B0B0B;
  color: #F4F4F4;
}
.wrapper {
  position: relative;
  padding: 0 20px;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 146px;

  &__text {
    font-family: 'Russo One', sans-serif;
    width: 78px;
    font-size: 18px;
    line-height: 84%;
    letter-spacing: 2%;
    align-self: flex-end;
    padding-bottom: 8px;
  }

  &__icon {
    width: 41px;
    height: 49px;
  }
}
.geometry {
  width: 100%;
  height: 1000px;
  position: absolute;
  overflow: hidden;
  &__torus {
    position: absolute;
    width: 170px;
    height: 170px;
    right: -70px;
    top: 90px;
  }

  &__sphere {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 290px;
    right: 85px;
  }

  &__cube {
    position: absolute;
    width: 133px;
    height: 140px;
    top: 450px;
    right: -20px;
  }

  &__glow {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 224px;
    top: 86px;
    background: radial-gradient(26.75% 29.79% at 48.14% 50%, #2C95E8 0%, rgba(162, 105, 255, 0.26) 100%);
    filter: blur(104.5px);
  }
}

.offer { 
  padding-bottom: 100px;

  &__note {
    position: relative;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 16px;
  }

  &__note-medium {
    font-weight: 500;
  }

  &__note-bold {
    font-weight: 700;
  }

  &__note-red {
    color: #CA3A27;
  }

  &__title {
    position: relative;
    font-family: 'Russo One', sans-serif;
    font-size: 27px;
    letter-spacing: 4%;
    margin-bottom: 100px;
    line-height: 33px;
  }

  &__button {
    margin-bottom: 100px;
  }

  &__button::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: radial-gradient(47.19% 47.19% at 50% 50%, rgba(21, 134, 204, 0.91) 0%, rgba(43, 51, 179, 0.66) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    filter: blur(104.5px);
    transform: rotate(180deg);
  }
}

.button {
  display: block;
  text-align: center;
  margin: 0 auto;
  line-height: 45px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 23.46px;
  color: #F4F4F4;
  text-decoration: none;
  height: 45px;
  max-width: 207px;
  background-color: rgba(1, 158, 235, 1);
  border-radius: 5.86px;
}
.awards {
  &__title {
    font-family: 'Russo One', sans-serif;
    font-size: 27px;
    letter-spacing: 4%;
    margin-bottom: 98px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
    }  
  }

  &__item {
    line-height: normal;
    background-color: rgba(246, 252, 255, 0.1);
    border: rgba(246, 252, 255, 0.1) solid 1px;
    border-radius: 8px;
    text-align: center;
    width: 238px;
    height: 142px;
  }

  &__item-bold {
    display: inline;
    font-weight: 700;
  }

  &__item-clock {
    margin-bottom: 93px;
    padding: 0 15px;
    background: radial-gradient(22.49% 34.46% at 50.13% 0%, rgba(148, 16, 33, 0.7) 0%, rgba(166, 38, 55, 0.66) 13.02%, rgba(184, 56, 75, 0.59) 26.56%, rgba(209, 79, 93, 0.42) 38.54%, rgba(198, 66, 87, 0.42) 52.08%, rgba(212, 81, 93, 0.3) 64.58%, rgba(219, 108, 97, 0.19) 76.04%, rgba(221, 128, 95, 0.1) 86.46%, rgba(175, 134, 77, 0) 100%), rgba(243, 243, 243, 0.05);
    background-blend-mode: hard-light, normal;
  }

  &__item-clock::before {
    content: '';
    display: block;
    background: url(../images/clock.svg);
    width: 72px;
    height: 81px;
    margin: -50px auto 15px auto;
  }

  &__item-flame {
    margin-bottom: 66px;
    background: radial-gradient(22.49% 34.46% at 50.13% 0%, rgba(148, 16, 33, 0.7) 0%, rgba(166, 38, 55, 0.66) 13.02%, rgba(184, 56, 75, 0.59) 26.56%, rgba(209, 79, 93, 0.42) 38.54%, rgba(198, 66, 87, 0.42) 52.08%, rgba(212, 81, 93, 0.3) 64.58%, rgba(219, 108, 97, 0.19) 76.04%, rgba(221, 128, 95, 0.1) 86.46%, rgba(175, 134, 77, 0) 100%), rgba(243, 243, 243, 0.05);
    background-blend-mode: hard-light, normal;
  }

  &__item-flame::before {
    content: '';
    display: block;
    background: url(../images/flame.svg);
    width: 72px;
    height: 94px;
    margin: -65px auto 5px auto;
  }

  &__item-mail {
    margin-bottom: 28px;
    padding: 0 15px;
    background: radial-gradient(22.49% 34.46% at 50.13% 0%, rgba(148, 16, 33, 0.7) 0%, rgba(166, 38, 55, 0.66) 13.02%, rgba(184, 56, 75, 0.59) 26.56%, rgba(209, 79, 93, 0.42) 38.54%, rgba(198, 66, 87, 0.42) 52.08%, rgba(212, 81, 93, 0.3) 64.58%, rgba(219, 108, 97, 0.19) 76.04%, rgba(221, 128, 95, 0.1) 86.46%, rgba(175, 134, 77, 0) 100%), rgba(243, 243, 243, 0.05);
    background-blend-mode: hard-light, normal;
  }

  &__item-mail::before {
    content: '';
    display: block;
    background: url(../images/mail.svg);
    width: 83px;
    height: 60px;
    margin: -35px auto 20px auto;
  }
}

.action {
  position: relative;
  text-align: center;

  &::before {
  content: '';
  background: url(../images/logo.svg) center/contain no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  left: 0px;
  z-index: -1;
  }

  &__title {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    margin-bottom: 36px;
    padding-top: 60px;
  }

  &__arrow {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 150px;
  }
}
